<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaan.shop.dao.DiscussionRoomInfoMapper">
	<resultMap id="BaseResultMap" type="com.huaan.shop.model.DiscussionRoomInfo">
		<result column="id" property="discussionRoomId" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="picName" property="picName" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="INTEGER" />
		<result column="createTime" property="createTime" jdbcType="VARCHAR" />
		<result column="userPicName" property="userPicName" jdbcType="VARCHAR" />
		<result column="nickName" property="nickName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getCommunityAnnouncement" resultMap="BaseResultMap">
		select
		 dis.id
		,dis.content
		,dis.picName
		,dis.userId
		,dis.createTime
		,user.picName userPicName
		,user.nickName  nickName
		from discussion_room dis,user
		where dis.userId = user.id
	</select>

	<resultMap id="DiscussionCommentsResultMap" type="com.huaan.shop.model.DiscussionRoomInfo">
		<result column="discussionRoomCommentsId" property="discussionRoomCommentsId" jdbcType="INTEGER" />
		<result column="commentDetail" property="commentDetail" jdbcType="VARCHAR" />
		<result column="commentTime" property="commentTime" jdbcType="VARCHAR" />
		<result column="discussion_roomID" property="discussionRoomId" jdbcType="INTEGER" />
		<result column="userID" property="userID" jdbcType="INTEGER" />
		<result column="nickName" property="nickName" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getDiscussionComments" resultMap="DiscussionCommentsResultMap" parameterType="INTEGER">
		select 
		     dis_c.id discussionRoomCommentsId
		    ,dis_c.commentDetail
		    ,dis_c.commentTime
		    ,dis_c.userID
		    ,user.nickName
		from discussion_room_comments dis_c
		    ,user user
		where dis_c.userID = user.id
		and dis_c.discussion_roomID = #{discussionID,jdbcType=INTEGER}
	</select>


	<resultMap id="DiscussionLikeResultMap" type="com.huaan.shop.model.DiscussionRoomInfo">
		<result column="discussionRoomLikeId" property="discussionRoomLikeId" jdbcType="INTEGER" />
		<result column="likeTime" property="likeTime" jdbcType="VARCHAR" />
		<result column="discussionId" property="discussionId" jdbcType="INTEGER" />
		<result column="like_userID" property="like_userID" jdbcType="INTEGER" />
	</resultMap>

	<select id="getDiscussionLike" resultMap="DiscussionLikeResultMap" parameterType="com.huaan.shop.model.DiscussionRoomInfo">		
		select 
			likeC.userID like_userID
		   ,likeC.discussionId discussionId
		from 
			discussion_room_like likeC
		where 
			likeC.userID = #{userID,jdbcType = INTEGER}
			and likeC.discussionId = #{discussionId,jdbcType = INTEGER}
	</select>

	<insert id="setDiscussionLike" parameterType="com.huaan.shop.model.DiscussionRoomInfo">
		insert into discussion_room_like (
		 like_time
		,userID
		,discussionId
		)
		values 
		(
		 SYSDATE()
		,#{like_userID,jdbcType=INTEGER}
		,#{discussionId,jdbcType=INTEGER}
		)
	</insert>

	<delete id="removeDiscussionLike" parameterType="com.huaan.shop.model.DiscussionRoomInfo">
		delete from discussion_room_like
		where userID=#{like_userID,jdbcType=INTEGER}
		and discussionId=#{discussionId,jdbcType=INTEGER}
	</delete>

	<insert id="setDiscussionComment" parameterType="com.huaan.shop.model.DiscussionRoomInfo">
		insert into discussion_room_comments (
		 commentDetail
		 ,commentTime
		 ,discussion_roomID
		 ,userID
		)
		values 
		(
		 #{commentDetail,jdbcType=VARCHAR}
		,SYSDATE()
		,#{discussionRoomID,jdbcType=INTEGER}
		,#{discussionCommentsUserId,jdbcType=INTEGER}
		)
	</insert>
	
	<!-- 追加新数据 -->
	<insert id="insNewDiscussion" parameterType="com.huaan.shop.model.DiscussionRoomInfo">
		insert into discussion_room 
		(content
		,picName
		,userId
		,createTime
		)
		values 
		(#{content,jdbcType=VARCHAR}
		,#{picName,jdbcType=VARCHAR}
		,#{discussionRoomId,jdbcType=INTEGER}
		,SYSDATE()
		)
	</insert>
</mapper>
